BODY {
	margin: 0;
	font-family: Georgia, serif;
}
DIV#content {
	width: 800px;
	background: url('pictures/looking,small.png') no-repeat right bottom;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
}
DIV#cells {
	width: 100%;
	clear: both;
}
DIV#cells > DIV.row {
	text-align: right;
	clear: both;
}
DIV#bubble {
	width: 500px;
	border: 10px solid #555;
	padding: 20px;
	margin-bottom: 150px;
	border-radius: 30px 30px 0 30px;
	-moz-border-radius: 30px 30px 0 30px;
	-webkit-border-radius: 30px 30px 0 30px;
	-moz-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	clear: both;
}
DIV#bubble:before, DIV#bubble:after {
	color: #ccc;
	display: block;
	font-size: 700%;
	width: 50px;
}
DIV#bubble:before {
	content: '\201C';
	height: 0;
	margin-left: -90px;
}
DIV#bubble:after {
	content: '\201D';
	height: 50px;
	margin-top: -70px;
	margin-left: 540px;
}
DIV#signature {
	position: absolute;
	bottom: 20px;
	left: 20%;
	text-align: center;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 24px;
	color: #ccc;
}
DIV.row > DIV {
	display: inline;
	height: 80px;
	line-height: 80px;
	border-left: 10px solid white;
	border-top: 10px solid white;
	padding-left: 5px;
}
A {
	text-decoration: none;
	color: #0404b8;
}
DIV.row > DIV > A > IMG {
	max-width: 100px;
	max-height: 60px;
	vertical-align: middle;
	border: none;
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
}
